/* Global Styles */
html {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.master-grid {
  width: 100svw;
  height: 100svh;

  @media (max-width: 900px) {
    height: 100%;
  }

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.layout-1 {
  .title {
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    padding: 1rem 0 0 2rem;
    font-size: 5rem;
    text-align: right;
    align-self: center;

    @media (max-width: 900px) {
      grid-row: 1 / 2;
      grid-column: 1 / 12;
      text-align: left;
      font-size: 2.5rem;
      align-self: end;

      br {
        display: none;
      }
    }
  }

  .description {
    grid-row: 1 / 3;
    grid-column: 6 / 12;
    align-self: center;
    justify-self: start;

    @media (max-width: 900px) {
      grid-row: 2 / 4;
      grid-column: 1 / 12;
      align-self: start;
      justify-self: start;
      padding: 1rem 0 0 2rem;
    }
  }

  .chart {
    grid-row: 3 / 8;
    grid-column: 5 / 11;

    @media (max-width: 900px) {
      grid-row: 4 / 7;
      grid-column: 2 / 10;
    }
  }

  .bg-image {
    grid-row: 1 / 8;
    grid-column: 1 / 7;

    @media (max-width: 900px) {
      display: none;
    }
  }
}




.title {
  z-index: 1;
  margin: 0;
  line-height: 1.1;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.description {
  z-index: 1;
  padding: 1rem 0;
  max-width: 65ch;
  font-size: 1.15rem;
  letter-spacing: 0.01em;
}

.chart {
  z-index: 1;
}

.bg-image {
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}