/* Global Styles */
html {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.master-grid {
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);

}

.title {
  z-index: 1;
  margin: 0;
  line-height: 1.1;
  padding: 1rem 0 0 2rem;
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  font-size: 6rem;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.description {
  grid-row: 1 / 3;
  grid-column: 6 / 12;
  z-index: 1;
  padding: 1rem 0;
  align-self: center;
  justify-self: start;
  max-width: 65ch;
  font-size: 1.15rem;
  letter-spacing: 0.01em;
}

.chart {
  grid-row: 3 / 8;
  grid-column: 6 / 12;

  z-index: 1;
}

.bg-image {
  grid-row: 1 / 8;
  grid-column: 1 / 7;
  z-index: 0;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}